[Unit]
Description=MelodyMint FastAPI Application
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/MelodyMint/melody-mint-backend/melody-mint-backend/
Environment="PATH=/home/ubuntu/MelodyMint/melody-mint-backend/melody-mint-backend/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/home/ubuntu/MelodyMint/melody-mint-backend/melody-mint-backend/.venv/bin/python3.10 /home/ubuntu/MelodyMint/melody-mint-backend/melody-mint-backend/main.py

Restart=always

[Install]
WantedBy=multi-user.target