[Unit]
Description=MelodyMint FastAPI Application
After=network.target

[Service]
User=chathura
Group=chathura
WorkingDirectory=/home/chathura/MelodyMint/_work/melody-mint-backend/melody-mint-backend/
Environment="PATH=/home/chathura/MelodyMint/_work/melody-mint-backend/melody-mint-backend/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/home/chathura/MelodyMint/_work/melody-mint-backend/melody-mint-backend/.venv/bin/python3.10 /home/chathura/MelodyMint/_work/melody-mint-backend/melody-mint-backend/main.py

Restart=always

[Install]
WantedBy=multi-user.target